.idea
.env
*.dat
*.db
*.rar
*.ipa
*.mp4
system_rendered.svg
system_rendered.png
*.webp
*.py
*.mkv
*datu
cuda.go
truec.go
snapsave.go
cook.txt
*.ogg
n.go
*.txt
*.mp3
*.lrc
*.png
*.wasm
*.json
*.exe
*.session
vendor/*
*.log
*.xml
*.iml
*.webm
*.m4a
*.py
snap.go
*.js 
*.wasm
*.sqlite
*.db
*.html
*.bin
*.b64
user1
userx
userxy
userxyz